{% extends "index.html" %}

{% block content %}

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">

<p><strong>Dict -Słownik, nawiasy klamrowe {}</strong></p>
<p>Struktura zbudowana na zasadzie klucz (key): wartość (value).</p>
<p>W słowniku nie możemy mieć dw&oacute;ch identycznych kluczy</p>
<p>państwa_miasta = {"Polska": "Warszawa",</p>
<p>"Austria": "Wiedeń",</p>
<p>"Niemcy": "Berlin",</p>
<p>"Australia":"Sydney"}</p>
<p><strong>#dodawanie</strong></p>
<p>państwa_miasta ['Czechy']= 'Praga'</p>
<p><strong>#drukowanie kluczy &ndash; iterowanie po kluczu</strong></p>
<p>for panstwo in państwa_miasta.keys():</p>
<p>print(panstwo)</p>
<p><strong>#drukowanie wartości - iterowanie po wartości<br /></strong></p>
<p>for stolica in państwa_miasta.values():</p>
<p>print(stolica)</p>
<p><strong>#drukowanie klucza i wartości przez items</strong></p>
<p>for panstwo,stolica in państwa_miasta.items():</p>
<p>print(panstwo + "-" + stolica)</p>
<p><strong>#szukanie wartości dla klucza</strong></p>
<p>print(państwa_miasta['Polska'])</p>
<p>#output Warszawa</p>
<p>państw_miasta = {"Polska": "Warszawa",</p>
<p>"Austria": "Wiedeń",</p>
<p>"Niemcy": "Berlin",</p>
<p>"Australia":"Sydney"}</p>
<p><strong># set default</strong> - dodaje zbi&oacute;r do elementu, setdefault wstawia klucz z podaną wortąscią , r&oacute;wnież podmienia stary klucz z nową wartością</p>
<p>print(państw_miasta.setdefault("USA","Washington DC"))</p>
<p><strong># usuwanie zbioru metodą pop</strong></p>
<p>państw_miasta.pop("USA","Washington DC")</p>
<p><strong>#pop items -</strong> usuwa ostani zestaw wartości dodanych do słownika</p>
<p>print(panstw_miasta.popitem())</p>
<p><strong>#szukanie klucza w słowniku</strong></p>
<p>if "Polska" in panstw_miasta.keys():</p>
<p>print ("znaleziono")</p>
<p>else:</p>
<p>print ("Nie ma podanego klucza w słowniku")</p>
<p><strong>#czyszczenie słownika</strong></p>
<p>panstw_miasta.clear()</p>
<p>#what is output of the code</p>
<p>fib = {1: 1, 2: 1, 3: 2, 4: 3}</p>
<p>print(fib.get(4, 0) + fib.get(7, 5))</p>
<p># dictionary.get(key, optional_value) So... fib.get(4,0) = 3 din.get(7,5) = 5</p>
<p># key value 7 not exists, so optional value 5 taken. Adding both will give the answer.</p>
<p>#--&gt; 3 + 5 = 8</p>
<p># Co to jest mapowanie !!!</p>
                                    KONIEC.



                                </p>
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>

{% endblock %}
